.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
.runtimeconfig.json

functions/node_modules/
functions/.env
functions/firebase-debug.log
functions/.runtimeconfig.json
functions/coverage/
functions/.nyc_output/

*-export/

.env
.env.local
.env.development
.env.test
.env.production

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-project
*.sublime-workspace

logs
*.log

public/build/
dist/
build/

coverage/
.nyc_output/

.tmp/
temp/
*.tmp

serviceAccountKey.json
**/serviceAccountKey.json