.input-field {
    border: 1px solid #dddddd;
}

select.input-field {
    background-color: #fff;
}

input::file-selector-button {
    background-color: transparent;
    border: none;
}

.file-input {
    background-color: #e7e7e7;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.file-input:hover {
    background-color: #f9f9f9;
    border: 2px solid #e7e7e7;
    cursor: pointer;
}

.btn {
    display: inline-block;
    background-color: #e7e7e7; 
    color: #333;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.btn:hover {
    background-color: #f9f9f9;
    border: 2px solid #e7e7e7;
    cursor: pointer;
}

.redbtn {
    background-color: #ef4444;
    color: #e5e7eb;
}

.redbtn:hover {
    border: 2px solid #ef4444;
    color: #ef4444;
}